extends layout
block content
  h3= title
  ul
    li Inform, explain, provide further guidance
    li Informative only
    li Cannot be used as approved data unless referred to in approved data (ex. in an AD)
    li Subject areas
      ul
        li 00 - General
        li 10 - Procedural Rules
        li 20 - Aircraft
        li 60 - Airmen
        li 120 - Air Carriers, Air Travel Clubs
    li Revisions
      ul
        li AC11-2A - one revision
        li AC43.13-1B - two revisions
    li Then follows FAR#
      ul
        li AC 43.13-1B & 2B - Acceptable Methods
        li AC 43.9-1F - How to complete FAA Form 337
        li AC 43-16A Aviation Maintenance Alert (monthly)
          ul
            li Compilation of 8010-4 Malfunction and Defect Reports
    li Noteworthy
      ul
        li AC 43-16A - Aviation Maintenance Alerts
        li AC 43-9C - Maintenance Records