extends layout
block content
  h3= title
  ul
    li AC 39-7D
    li Issued bi-weekly
    li Types
      ul
        li NPRM - 60 day comment period
        li Immediate Adoption - 30 days
        li Emergency - no comment period
    li Identification
      ul
        li # - recurring
        li ID - 6-8 digit # based on year of issuance
        li YY or YYYY - Bi-weekly issuance period - Index (number in the issuance)
          ul
            li If Index >= 50 then it's an Emergency AD
        li RX - revision #
        li C - correction
        li PL - Priority Letter
        li AFM - Approved Flight Manual Revision - can be complied with by PPL (if stated in AD)
        li E - Emergency
    li Volumes
      ul
        li Small general aviation
        li Large
    li 4 Main Sections
      ul
        li AD Number
        li Applicability
        li Compliance
          ul
            li Inspection
            li Replacement of Parts
            li Modification of Design
            li Change in Operating Procedures
        li Effective Date