extends layout
block content
  h3= title
  ul
    li Airworthiness Certificates
      ul
        li Standard
          ul
            li 8100-2
              ul
                li Normal
                li Utility
                li Acrobatic
                li Commuter
                li Transport
                li Manned free balloon
        li Special
          ul
            li 8130-7
            ul
              li Primary
              li Restricted
              li Multiple
              li Limited
              li Light-Sport
              li Experimental
              li Special Flight Permit
              li Provisional


