extends layout
block content
  h3= title
  ul
    li Article
      ul
        li Material
        li Part
        li Component
        li Process
        li Appliance
    li Product
      ul
        li Aircraft
        li Aircraft Engine
        li Propeller