extends layout
block content
  h3= title
  ul
    li Plugs
      ul
        li Black - power (small blade)
        li White - earth ground (large blade)
        li Green - equipment ground (round)
    li The higher the resistance, the greater the heat.
    li Electro-static discharge
      ul
        li 12,000V avergage
        li 3,000V minimum one can feel
        li 100V will fully damage Electo-static Sensitive Device (ESD)
        li 25V will partially damage ESD's
          ul
            li Erratic operation
            li Very hard to troubleshoot