extends layout
block content
  h3= title
  p
    img(src='http://www.cariboufire.net/images/resources/fireextypes.gif')
  ul
    li Classes of Fires
      ul
        li Class A - solid combustible materials
          ul
            li Water is best
        li Class B - combustible liquids
          ul
            li CO2
            li Halon
            li Dry powder
        li Class C - energized electrical equipment
          ul
            li CO2
            li Halon
            li Dry powder
        li Class D - metals
          ul
            li Dry powder
            li NEVER CO2 - may lower temp and cause explosion