extends layout
block content
  h3= title
  ul
    li 8050-3 Registration Certificate
    li 8100-2 Airworthiness Certificate
    li 8010-4 Malfunction or Defect Report
    li 337 Major Repair or Alteration