extends layout
block content
  h3= title
  ul
    li Volatility - measure of fuel's ability to change from a liquid to a gas
    li Reid vapor pressure - measure of volatility
    li Vapor lock - fuel vaporizes too readily clogging fuel lines and starving engine of fuel
    li Octane rating system - compares anti-knock properties

    li AvGas
      ul
        li 100 and 100LL same performance rating, different levels of lead
        li Tetraethyl lead added to prevent detonation
        li Grades
          ul
            li 80 - red
            li 100 - green
            li 100LL - blue
    li Jet
      ul
        li Colorless or straw colored
        li Types
          ul
            li Jet A / Jet A-1 - kerosene
            li Jet B - gasoline and kerosene mix
        li All jet fuels have same performance, some have lower freezing points
        li Jet fuel has higher viscosity and is more likely to be contaminated
          ul
            li Contaminants
              ul
                li Water
                  ul
                    li Dissolved - entrained
                    li Free - slug
