extends layout

block content
  h3= title
  ul
    li
      a(href="regulations") Regulations
    li
      a(href="ac") Advisory Circulars (AC)
    li
      a(href="ad") Airworthiness Directives (AD)
    li
      a(href="airworthiness") Airworthiness
    li
      a(href="definitions") Definitions
    li
      a(href="drawings") Drawings
    li
      a(href="electricity") Electricity
    li
      a(href="fire") Fire
    li
      a(href="fuel") Fuel
    li
      a(href="labeling") Labeling
    li
      a(href="forms") Forms
    li
      a(href="inspections") Inspections
    li
      a(href="majors") Major Repairs and Alterations
    li
      a(href="part21") Part 21
    li
      a(href="part43") Part 43
    li
      a(href="part65") Part 65
    li
      a(href="part91") Part 91
    li
      a(href="pma") PMA
    li
      a(href="records") Records
    li
      a(href="servicebulletin") Service Bulletins
    li
      a(href="tcds") Type Certificate Data Sheet (TCDS)
    li
      a(href="tso") Technical Standards Order (TSO)
    li
      a(href="weightbalance") Weight &amp; Balance
