extends layout
block content
  h3= title
  ul
    li Annual
      ul
        li Part 91 and some Part 135
        li Completed IAW Part 43 and Part 43 Appendix D
        li Who can perform
          ul
            li Repair stations
            li Air carriers
            li IA's
    li 100 Hour
      ul
        li Aircraft used for hire
        li In addition to annual
        li Who can perform
          ul
            li A&P
            li Repair station
        li Similar in scope and detail as an annual
    li Progressive
      ul
        li Completion of complete inspection program required within 12 calendar months
        li Who can supervise?
          ul
            li A&P
            li IA
        li Elements
          ul
            li Inspection Event (Phase)
              ul
                li Routine Items
                li Detailed Items
                li A&P can sign off
            li Inspection Cycle
              ul
                li Must complete within 12 calendar months
                li Composed of all Inspection Phases
                li IA or Repair station with airframe rating
    li Continuous Inspection Program
      ul
        li C-check
          ul
            li Similar to annual
            li Every 12-15 months
            li 150-200 mechanics
        li D-check
          ul
            li Every 4-5 years
            li 150-300 mechanics
            li Up to 30 days