extends layout
block content
  h3= title
  ul
    li Major repair - repaid not listed in the aircraft, aircraft engine, or propeller specifications
      ol
        li That if improperly done might appreciably affect weight, balance, structural strength, performance, powerplant operation, flight characteristics, or other qualities affecting airworthiness or
        li That is not done according to accepted practices or cannot be done by elementary operations
    li Repairs - will restore the aviation product to its original design standard
    li Alterations - are a chance to the aviation product's form or function not spelled out in the original design standard
    li AC 43.9-1F Completing a 337
    li Approved vs Acceptable Data
      ul
        li Approved - can be used to complete a 337
        li Acceptable - can be used to get approval for a 337
    li Logbook entry
      ul
        li Location or repair or alteration
        li Type of repair or alteration
        li Method of repair or alteration
        li Materials used
        li References
        li Any other supporting materials such as drawings, photos, schematics, etc.