extends layout
block content
  h3= title
  ul
    li 65.81 General privileges and limitations
      ul
        li Can perform
          ul
            li Maintenance
            li Preventative maintenance
            li Minor alterations
        li Cannot perform
          ul
            li Major repairs and major alterations
              ul
                li Propellers
            li Any repair or alteration of instruments
        li May not supervise
          ul
            li Maintenance, preventative maintenance or alteration or approve and return to service unless he has satisfactorily performed the work at an earlier date
    li 65.85 Airframe rating
      ul
        li Can approve and return to service
          ul
            li airframe or any related part or appliance after having performed, supervised, or inspected
        li Cannot approve and return to service
          ul
            li Major repairs
            li Major alterations
        li Can perform 100 hour inspection
    li 65.87 Powerplant rating
      ul
        li Can approve and return to service
          ul
            li powerplant or propeller after having performed, supervised, or inspected
        li Cannot approve and return to service
          ul
            li Major repairs
            li Major alterations
        li Can perform 100 hour inspection
    li 65.95 Inspection Authorization (IA)
      ul
        li Excludes continuous airworthiness program under Part 121
        li Requirements
          ul
            li Held A&P for at least 3 years
            li Actively engaged as A&P for previous 2 years
            li Fixed base (not necessarily where work is performed)
            li Appropriate equipment and facilities and data
            li Pass written test
        li Duration
          ul
            li 2 years
            li Expires March 31 of odd numbered year
            li Must maintain A&P
            li Disqualification
              ul
                li Surrendered, suspended, revoked
                li No fixed base
                li No longer has facilities, equipments or data
            li Renewal
              ul
                li 2 year duration
                li Present evidence in March of completion of 1 of 5 during the first and second years
                  ul
                    li One annual for each 90 days
                    li 2 majors for each 90 days
                    li Performed or supervised and approved one progressive
                    li Attended and successfully completed refresher course (8 hour minimum)
                    li Passed an oral test
                    li Exclusions
                      ul
                        li IA has been in effect for < 90 days before the expiration date
                        li IA has been in effect for < 90 days before March 31 of the even numbered year - need not comply with first year requirements
                    li Must be in compliance both years or cannot exercise privileges after March 31
    li General
      ul
        li May not supervise or approve for return to service unless satisfactorily performed the work at an earlier date. Compliance demonstrated by:
          ul
            li Show ability to the satisfaction of the Administrator
            li Under direct supervision of certificated and rated mechanic
        li Must have current instructions