extends layout
block content
  h3= title
  ul
    li 21.9 Replacement and Modification Articles
      ul
        li Type certicate
        li FAA production approval
        li Standard part
        li Commercial part
        li Produced by owner / operator
        li Fabricated by rated certificate holder