extends layout
block content
  h3= title
  ul
    li Maintenance
      ul
        li Inspection
        li Overhaul
        li Repair
        li Preservation
        li Replacement of Parts
    li Preventative Maintenance
      ul
        li Simple or minor preservation operations and the replacement of small standard parts not involving complex assembly operations.
    li Rebuilt
      ul
        li Disassembled
        li Cleaned
        li Inspected
        li Repaired
        li Reassembled
        li Tested to new limits
    li Does not apply to aircraft that have only had a pink Airworthiness Certificate
    li 43.1
    li 43.2 Records Overhaul and Rebuilding
    li 43.3 Persons authorized to perform maintenance, preventative maintenance, rebuilding and alterations
      ul
        li Airframe or Powerplant Mechanic
        li Repairman / Repair Station
        li Person working under the supervision of a mechanic or repairman
        li Air Carrier
        li Manufacturers
        li Pilot doing preventative maintenance
    li 43.5 Approval for Return to Service
      ul
        li Requirements
          ul
            li Maintenance record entry (absolute minimum)
            li 337 if necessary
            li Revise flight data if necessary
    li 43.7 Persons authorized to approve aircraft and component parts for return to service
      ul
        li Airframe or Powerplant Mechanic
        li Repairman / Repair Station
        li Air Carrier
        li Manufacturers
        li Pilot doing preventative maintenance
    li 43.9 Maintenance record entries
      ol
        li A description (or references to data acceptable to the Administrator) of the work performed.
        li Completion date of the work performed.
        li Name of the person performing the work if other than the person signing off the work
        li Signature, certificate number, and kind of certificate held by the person approving the work [for return to service]
        li Constitutes an approval for return to service ONLY for the work performed
      li Examples
        ul
          li 1/1/2014 Changed oil and filter. Installed Champion CH48110 oil filter and serviced with 7qts. Aeroshell 100 oil.
    li 43.10 Disposition of life-limited aircraft parts (added in 2002)
      ul
        li Terms
          ol
            li Life-limited part - any part for which a mandatory replacement limit is specified in the type design, the ICA, or the maintenance manual
            li Life-status - accumulated cycles, hours, or any other mandatory replacement limit of a life-limited part.
        li Tagging
          ul
            li Not all parts that are tagged are considered to have a life limit
            li Tagging parts is done to separate airworthy versus non-airworthy parts
    li 43.11 Content, form, and disposition of records for inspections conducted under parts 91, 125, and 135.411(a)(1) and 135.419 of this chapter
      ol
        li Type of inspection and brief description of the extent of the inspection
        li Date of inspection and aircraft total time in service
        li Signature, certificate number, and kind of certificate held by the person approving or disapproving the return to service
        li Certification statement to declare airworthiness
      li If disapproving return to service, the following or similarly worded statement
        ul
          li I certify that this aircraft has been inspected IAW a ___ inspection and a list of discrepancies and unairworthy items dated XX/XX/XXXX has been provided for the aircraft owner or operator.
    li Appendices
      ul
        li 43 Appendix D