extends layout
block content
  h3= title
  ul
    li FAA certification that a part complies with
      ul
        li Applicable airworthiness requirements
        li Materials meet design specification
        li The part itself meets design / construction requirements
    li Combined design and production approval
      ul
        li Modification of parts
        li Replacement parts
    li Examples
      ul
        li Spark plugs
        li Replacement parts