extends layout
block content
  h3= title
  ul
    li Permanent
      ul
        li Time since overhaul of all items required to be overhauled on a specified time basis
        li Current inspection status
        li Current status of AD's
        li Total time in service
        li Life-limited parts
        li 337's (Major Repairs and Alterations)
    li Temporary
      ul
        li Maintenance
        li Alterations
        li Annuals
        li 100 hours
        li Progressive inspections
        li Other FAA approved inspections
    li Examples
      ul
        li 10/02/2011 Replaced all spark plugs. Installed 8 new Champion REM40E spark plugs. Torqued spark plugs to 420 inch points and lead nuts torqued to 85 inch pounds IAW Lycoming Service Instruction 1042Z. Mac Jackson AP123456
        li 10/11/2002 Total time 3351 hours. Modified passenger seats IAW AD 92-16-19 paragraph (a)(1) and Cessna Service Kit SK421-135A, section A of the Modification Instructions, revised August 5, 1988. Additionally, seat track modification was performed IAW section B of the Modification Instructions section of the Cessna Service Kit SK241-135A. No further action necessary. Bob Smith AP12312312.
        li 6/6/2012 Total time 2133 hours. 100 hour inspection performed IAW Piper Navajo Inspection report and FAR 43 Appendix D. Replaced master cylinder... I certifiy that this airframe has been inspected IAW a 100 hour inspection and determined to be in an airworthy condition. Bob Smith AP 12312312.
