extends layout
block content
  h3= title
  ul
    li Not mandatory unless
      ul
        li required in AD
        li using progressive inspection program
        li change to TCDS (would be part of an AD)