extends layout
block content
  h3= title
  ul
    li Documents containing the FAA approved configuration requirements of an:
      ul
        li Aicraft
        li Powerplant
        li Propeller
    li Replaced Aircraft Specifications after 1958 CAR
    li Considered approved data on a 337
    li Any deviation from TCDS requires STC or compliance with an AD
    li Items covered
      ul
        li Engines
        li Fuel
        li RPM & HP
        li Props
        li Airspeed limits & marking (FAR 23.1545)
        li CG
          ul
            li Datum
            li Leveling means
        li Max weights
        li Oil and fuel capacity
        li Control surface movements
        li Required equipment
        li Additional equipment
        li Placards
    li Groupings
      ul
        li I. Single Engine
        li II. Small Multi-Engine
        li III. Large Multi-Engine
        li IV. Rotocraft
        li V. Engines and Propellers
        li VI. 50 or Less on the Aircraft Registry