extends layout
block content
  h3= title
  ul
    li Sets minimum performance standards for specified articles used on civil aircraft
li Examples
  ul
    li Tires
    li Airspeed indicator
    li Altimeter
    li Seatbelts