extends layout
block content
  h3= title
  ul
    li Fuselage Station Numbers - fore / aft in reference to Datum
    li Water Lines - vertical locations
    li Buttock Line - right / left - longitudinal centerline
    li Wing stations - measured from buttock line